@page "/"
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h1 class="roboto">Patrycja Świtalska</h1>
<h2 class="roboto">Nr. albumu: 46818</h2>

<style>
    .button-radius {
        background-color: rgb(41,118,211);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 36px;
        cursor: pointer;
        transition: background-color 2s;
        width: auto;
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

        .button-radius:hover {
            background-color: midnightblue;
            color: white;
            opacity: 0.3;
            transition: opacity 2s;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
        }

    .roboto {
        font-family: Roboto;
    }


    .image {
        width: 600px;
        padding: 8px;
    }

    .font-effect-fire {
        font-size: 20px;
    }

</style>
<br />
<br />
<br />
<button class="button-radius" @onclick="ShowImage">Kliknij aby odsłonić obraz</button>
<br />
<br />
<br />

Welcome to your new app.<br /><br />
<br />
<br />

<boody>
@if (showImage)
{
    <p class="font-effect-fire" style="font-size:large">Swamp</p>
    <img padring="10px" class="image" src="swamp.jpg" />
}
</boody>
<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    private bool showImage = false;

    private void ShowImage(MouseEventArgs e)
    {
        showImage = true;
    }
}